<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
	<style>
		body {
			width: 100vw;
			height: 100vh;
			margin: 0;
		}

		#app {
			width: 100%;
			height: 100%;
		}

		.el-container {
			width: 100%;
			height: 100%;
		}

		.navmenuContainer {
			height: 100%;
		}

		iframe {
			border: none;
			height: 100%;
			width: 100%;
		}

		.el-tab-pane {
			height: calc(100vh - 216px);
		}

		/* .el-main {
			padding-right: 2px;
		} */

		.header {
			color: #1890ff;
			font-weight: 600;
			font-size: 20px;
			font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
			text-align: center;
			line-height: 48px;
			padding-top: 10px;
		}

		.footer {
			text-align: center;
			color: #a0a0a0;
		}

		.image-container {
			margin: 1px;
			position: relative;
		}

		.image {
			display: block;
			height: 80px;
			width: 80px;
			background-color: rgba(96, 96, 96, 0.5);
		}

		.inventory-item-count {
			color: #FFA500;
			font-size: 20px;
			position: absolute;
			right: 1px;
			bottom: 1px;
		}

		.inventory-item-quality {
			height: 16px;
			position: absolute;
			bottom: 0;
		}
	</style>
</head>

<body>
	<div id="app">
		<template>
			<el-container>
				<el-aside width="210px">
					<el-menu :default-active="selectedMenu" class="navmenuContainer" @select="handleSelectMenu"
						background-color="#001529" text-color="#fff" active-text-color="#ffd04b">
						<el-menu-item v-for="(item, index) in menus" :index="item.name">
							<i :class="item.icon"></i>
							<span slot="title">{{item.title}}</span>
						</el-menu-item>
					</el-menu>
				</el-aside>
				<el-container>
					<el-header height="48px" class="header">天依七日杀服务器管理系统</el-header>
					<el-main>
						<el-tabs v-model="selectedTab" type="card" closable @tab-remove="removeTab">
							<el-tab-pane v-for="(item, index) in tabPanes" :key="index" :label="item.title"
								:name="item.name">
								<iframe :src="item.url"></iframe>
							</el-tab-pane>
						</el-tabs>
					</el-main>
					<el-footer height="72px">
						<p class="footer">LSTY.Sdtd 6.0 ™ Copyright © 2021 IceCoffee</p>
					</el-footer>
				</el-container>
			</el-container>
			<el-dialog :title="inventoryDialog.title" :visible.sync="inventoryDialog.visible" width="897px">
				<div style="width: 859px;">
					<div style="display: inline-block;width: 673px;vertical-align: top">
						<div>背包</div>
						<div id="inventory-bag" style="display: flex;flex-wrap: wrap;max-height: 410px;overflow: auto;">
							<inventory-item v-for="(item, index) in inventoryDialog.inventory.bag" :item="item">
							</inventory-item>
						</div>
					</div>
					<div style="display: inline-block;width: 181px;vertical-align: top">
						<div>装备</div>
						<div style="display: flex;flex-wrap: wrap;max-height: 410px;overflow: auto;">
							<inventory-item v-for="(item, index) in inventoryDialog.inventory.equipment" :item="item">
							</inventory-item>
						</div>
					</div>
				</div>
				<div style="width: 820px;">
					<div>腰带</div>
					<div style="display: flex;flex-wrap: wrap;">
						<inventory-item v-for="(item, index) in inventoryDialog.inventory.belt" :item="item">
						</inventory-item>
					</div>
				</div>
			</el-dialog>
		</template>
	</div>
	<template id="inventory-item" style="display: none;">
		<el-tooltip v-if="item != null" placement="bottom-start" :open-delay="500">
			<div class="image-container">
				<el-image :src="getIconUrl(item)" class="image" lazy></el-image>
				<span v-if="item.quality===-1" class="inventory-item-count">{{item.count}}</span>
				<span v-if="item.quality!==-1" :style="getQualityStyle(item)" class="inventory-item-quality"></span>
			</div>
			<div slot="content">
				名称 {{item.itemName}}<br />
				数量 {{item.count}}<br />
				质量 {{item.quality}}<br />
				图标 {{item.icon}}<br />
				图标颜色 {{item.iconColor}}<br />
				最大使用时长 {{item.maxUseTimes}}<br />
				使用时长 {{item.useTimes}}<br />
			</div>
		</el-tooltip>
	</template>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
<script src="/js/global.js"></script>
<script src="/js/api.js"></script>
<script src="/js/sdtd-console.js"></script>
<script>
	Vue.component('inventory-item', {
		props: ['item'],
		template: '#inventory-item',
		methods: {
			getIconUrl(item) {
				let itemName = item.icon;
				if (item.iconColor !== 'FFFFFF') {
					itemName += '__' + item.iconColor;
				}

				return axios.defaults.baseURL + '/ItemIcons/' + itemName + '.png';
			},
			getQualityStyle(item) {
				const quality = item.quality;
				let color;
				switch (quality) {
					case 0:
						color = '808080';
						break;
					case 1:
						color = '9C8867';
						break;
					case 2:
						color = 'CF7F29';
						break;
					case 3:
						color = 'A2A41B';
						break;
					case 4:
						color = '42C234';
						break;
					case 5:
						color = '315DCE';
						break;
					case 6:
						color = 'A42ACC';
						break;
					default:
						color = '808080';
				}

				const durability = (1 - item.useTimes / item.maxUseTimes) * 80;
				return { 'background-color': `#${color}C8`, 'width': (durability > 80 ? 80 : durability) + 'px' };
			}
		}
	});
	top.rootIns = new Vue({
		el: "#app",
		data() {
			return {
				selectedTab: '',
				selectedMenu: 'live-players',
				menus: [{
					name: 'live-players',
					title: '在线玩家',
					url: '/webcontrol/live-players.html',
					icon: 'el-icon-user'
				}, {
					name: 'history-players',
					title: '历史玩家',
					url: '/webcontrol/history-players.html',
					icon: 'el-icon-user-solid'
				}, {
					name: 'chat-message',
					title: '实时聊天',
					url: '/webcontrol/chat-message.html',
					icon: 'el-icon-chat-dot-square'
				}, {
					name: 'chat-record',
					title: '聊天记录',
					url: '/webcontrol/chat-record.html',
					icon: 'el-icon-chat-line-square'
				}, {
					name: 'console',
					title: '控制台',
					url: '/webcontrol/console.html',
					icon: 'el-icon-loading'
				}, {
					name: 'api-document',
					title: '接口文档',
					url: '/api/swagger/index.html',
					icon: 'el-icon-document',
					externalLink: true
				}],
				tabPanes: [],
				inventoryDialog: {
					title: '',
					visible: false,
					inventory: {
						bag: [],
						equipment: [],
						belt: []
					}
				}
			};
		},
		created() {
			this.addTab('live-players');
		},
		methods: {
			addTab(menuName) {
				const menu = this.menus.find(item => item.name === menuName);

				if (menu.externalLink) {
					window.open(window.origin + menu.url);
				} else {
					this.tabPanes.push(menu);
					this.selectedTab = menuName;
				}
			},
			removeTab(targetName) {
				let tabs = this.tabPanes;
				let activeName = this.selectedTab;
				if (activeName === targetName) {
					tabs.forEach((tab, index) => {
						if (tab.name === targetName) {
							let nextTab = tabs[index + 1] || tabs[index - 1];
							if (nextTab) {
								activeName = nextTab.name;
							}
						}
					});
				}

				this.selectedTab = activeName;
				this.tabPanes = tabs.filter(tab => tab.name !== targetName);
			},
			handleSelectMenu(menuName) {
				if (this.tabPanes.find(item => item.name === menuName)) {
					this.selectedTab = menuName;
				} else {
					this.addTab(menuName);
				}
			},

			showInventoryDialog(inventoryDialog) {
				this.inventoryDialog = inventoryDialog;

				// const bagContainer = document.getElementById('inventory-bag');
				// if (bagContainer != null) {
				// 	bagContainer.scrollTop = 0;
				// }
			},
		},
		watch: {
			selectedTab(tabName) {
				this.selectedMenu = tabName;
			},
		},
	});
</script>

</html>